<app-navigation/>
<div class="container">
  <div class="row">
    <app-sidebar class="col-md-3" [category]="category" (fetchProducts)="fetchProducts($event)"/>
    @if(products){
      <div class="col-md-9">
        <app-product-cards-layout [products]="products.items"></app-product-cards-layout>
        <div class="d-flex justify-content-center mt-3">
          <app-pagination [pageNo]="products.currentPage"
                          [totalPages]="products.totalPages"
                          (onPageChange)="handlePageChanged($event)"/>
        </div>
      </div>
    }
  </div>
</div>
