<form [formGroup]="passwordForm" (ngSubmit)="submitPassword()" class="mt-2">
  <input formControlName="oldPassword" type="password" class="form-control mb-2" placeholder="Old Password" required>
  <input formControlName="newPassword" type="password" class="form-control mb-2" placeholder="New Password" required>
  <input formControlName="repeatPassword" type="password" class="form-control mb-2" placeholder="Repeat Password" required>
  <div *ngIf="passwordForm.errors?.['mismatch']" class="text-danger">Passwords do not match!</div>
  <button type="submit" class="btn btn-success btn-sm">Submit</button>
  <button type="button" class="btn btn-danger btn-sm ms-2" (click)="onCancelChanging()">Cancel</button>
</form>
