<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="text-center">Password refreshing</h2>
    @if(!emailSubmitted) {
      <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()" class="border rounded p-5">
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            required>
          <div *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" class="text-danger">
            Email is required.
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="emailForm.invalid">Send Code</button>
      </form>
    } @else {
      <form [formGroup]="resetForm" (ngSubmit)="onResetSubmit()" class="border rounded p-5">
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div class="form-group">
          <label for="code">Code</label>
          <input
            type="text"
            id="code"
            class="form-control"
            formControlName="code"
            required>
          <div *ngIf="resetForm.get('code')?.invalid && resetForm.get('code')?.touched" class="text-danger">
            Code is required.
          </div>
        </div>
        <div class="form-group">
          <label for="password">New Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            required>
          <div *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched" class="text-danger">
            Password is required.
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            formControlName="confirmPassword"
            required>
          <div *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched" class="text-danger">
            Confirm Password is required.
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-block mt-3" [disabled]="resetForm.invalid">Reset Password</button>
      </form>
    }
  </div>
</div>
