<div *ngIf="paginatedOrders && userId">
  <div class="card mb-2">
    <app-order-user-info [userId]="userId"></app-order-user-info>
  </div>
  <ul class="list-group">
    @for(order of paginatedOrders.items; track order.id) {
      <app-orders-list-item [order]="order"></app-orders-list-item>
    }
  </ul>
  <div class="d-flex justify-content-center mt-3">
    <app-pagination [pageNo]="paginatedOrders.currentPage"
                    [totalPages]="paginatedOrders.totalPages"
                    (onPageChange)="handlePageChanged($event)"/>
  </div>
</div>
