<div class="nav-item dropdown">
  <div class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="{{ avatarUrl }}" alt="Avatar" class="rounded-circle" width="35" height="35">
    <span class="ml-2">{{ email }}</span>
  </div>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
    <a class="dropdown-item" (click)="handleLogout()">Logout</a>
  </div>
</div>
