.list-group-item {
  border-radius: 0.25rem;
}
.list-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
.list-group-item {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.list-group-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  scale: 1.01;
}
